/* Base Styles */

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F3F7FB;
    font-family: Proxima Nova,Helvetica Neue,Helvetica,Arial,sans_serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    width: inherit;
}

img {
    display: block;
    border-radius: 100%;
}

h2 {
    font-size: 34px;
    letter-spacing: -.01em;
    font-weight: 100;
}

h3 {
    font-size: 28px;
    font-weight: 100;
    color: #242b42;
    letter-spacing: -.01em;
    line-height: 1.2;
    margin: 0;
}

h4 {
    font-weight: 700;
    color: #242b42;
    margin: 0;
    line-height: 1.2;
    letter-spacing: -.03em;
}

p {
    color: #687887;
}

/* Adding class styles using BEM Naming Convenetions */

.header__title {
    width: 1000px;
    margin: auto;
    padding-top: 20px;
}

.user {
    margin: 20px 0;
}

.user--horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.user--vertical {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}

.user__avatar--large {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
}

.user__avatar--small {
    width: 38px;
    height: 38px;
    margin-right: 16px;
}

.user__avatar-initials--small {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: #c1cdd6;
    color: #fff;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-right: 16px;
}

.user__name {
    text-align: center; /* Centering name for horizontal user kit example*/
}

/* Layout Styles */

.kit-examples {
    width: 1000px;
    margin: auto;
    padding: 80px 0;
    border: 1px solid rgb(217, 217, 217);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 6px;
}

/* Model Styles */
/* State Styles */
/* Theme Styles */