/* CSS Floats */

body {
    width: 800px;
    margin: 0 auto;
}

#floats {
    background: #d41;
}

#floats #container {
    background: white;
    padding: 20px;
}

#prince1 {
    float: right;
    margin: 0 0 5px 10px;
}

.main-column {
    background: brown;
    border: blue solid 2px;
    width: 440px;
}

#sidebar {
    background: brown;
    border: blue solid 2px;
    width: 300px;
    clear: right;
    float: right;
    margin-top: 0;
}

#floater {
    float: left;
    margin-top: 0;
    height: 200px;
}

.clearfix {
    overflow: auto;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
} */