/* CSS Base Styles */

* {
    margin: 0 0px;
    padding: 0 0;
    font-family: Proxima Nova;
}

body {
    margin-top: 24px;
    margin-left: 40px;
}

.dojo-card {
    width: 350px;
    border: #E4E8F0 solid 2px;
    border-radius: 6px;
    margin-top: 40px;
}

div.header {
    background: #0056cf;
    padding: 16px;
    border-radius: 6px 6px 0 0;
}

div.header h2 {
    font-weight: 600;
    color: rgb(212, 212, 212);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .07em;
}

div.body {
    padding: 16px;
}

div.body h3 {
    font-size: 16px;
    font-weight: 700;
    color: #242b42;
    margin: 0;
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial;
    letter-spacing: -.03em;
}

div.body hr {
    margin: 16px 0;
    align-items: center;
    opacity: 50%;
}

div.body p {
    color: #9ca5ab;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial;
}

div.footer {
    padding: 0 16px 16px 16px;
}

div.footer div.pill {
    background: rgba(147,168,184,.2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 9px;
    height: 22px;
    border-radius: 11px;
    margin-right: 8px;
}

div.footer div.pill p {
    font-size: 16px;
    font-weight: 700;
    color: #93a8b8;
    margin: 0;
    font-family: Proxima Nova, Helvetica Neue, Helvetica, Arial;
    letter-spacing: -.03em;
}
