/* Custom CSS */


* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

#beautiful {
    background: #fff;
    color: #4d2d06;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#charming {
    background-color: aqua;
    font-family: monospace;
}

.primary {
    background: #222;
    color: #eee;
}

.secondary {
    background: #eee;
    color: #222;
}

.inside-box {
    margin: 20px 0px;
    padding: 10px;
    background: #94efff;
    color: #555;
}

/* Descendant Selections */

.primary h2 {
    font-family: helvetica;
}

.primary p em {
    color: aqua;
}

.secondary p {
    font-family: Helvetica;
}

.secondary em {
    color: #fc3fff;
}



/* Grouping Selectors */

.primary, .secondary {
    font-size: 24px;
    margin: 0px 0px 10px;
    padding: 10px;
}

.inside-box h3, .inside-box p {
    font-size: 20px;
}